https://velog.io/@jhlee508/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D-KNNK-Nearest-Neighbor-%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98

In [2]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

t_df = pd.read_pickle('./dataset/t_df.pkl')

X = t_df.drop('survived',axis=1)
y = t_df['survived']

X

      pclass  sex        age  embarked  family
0          1    0  29.000000         2       0
1          1    1   0.920000         2       3
2          1    0   2.000000         2       3
3          1    1  30.000000         2       3
4          1    0  25.000000         2       3
...      ...  ...        ...       ...     ...
1304       3    0  14.500000         0       1
1305       3    0  29.881138         0       1
1306       3    1  26.500000         0       0
1307       3    1  27.000000         0       0
1308       3    1  29.000000         2       0

[1309 rows x 5 columns]

In [4]:
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [5]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

k_model = KNeighborsClassifier(n_neighbors=5)
k_model.fit(X_train, y_train)
k_pred = k_model.predict(X_test)

k_accuracy = accuracy_score(y_test,k_pred)
print('KNN 예측 정확도: ',k_accuracy)

KNN 예측 정확도:  0.767175572519084