
# 자료의 형태
-숫자: 정수(Int), 실수(Float), 8진수(0o), 16진수(0x)  
-문자: Str  
-리스트(list): 변화가능  
-튜플(tuple): 변화 불가 리스트    
-딕셔너리: 키와 값으로 구성  
-집합(set): 중복이 허용되지 않는 순서 없는  
-불(bool): True, False로 구성, 자료형들이 공백이 되면 거짓을 출력. 숫자는 0, None도 거짓

# 연산자
-**: 제곱  

-%: 나머지 반환  

-//: 몫 반환

### 이스케이프 코드  
-\n: 줄바꿈  
-\t: 탭간격  
-\r: 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)  
-\f: 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)  
-\a: 벨소리(출력시 삑)  
-\b: 백스페이스  
-\000: 널 문자

In [5]:
#제목에 이용하기 좋은 팁
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [3]:
num_1 = float(input("숫자를 입력하세요:"))
num_2 = float(input("숫자를 입력하세요:"))
print(num_1 + num_2)

숫자를 입력하세요:3
숫자를 입력하세요:3.3
6.3

In [4]:
a = 52
b = 52.273
print(str(a)+str(b))

5252.273

In [30]:
# 문자열 인덱싱, 슬라이싱
a = "abcdefghijklmnop"
num_1 = a[3]
num_2 = a[-1]
num_3 = a[-0]
num_sli = a[0:4] #여기서 끝번호는 포함되지 않는것에 주의
num_all = a[:]
print(num_1)
print(num_2)
print(num_3)
print(num_sli)
print(num_all)
print(a.index("e"))

d
p
a
abcd
abcdefghijklmnop
4

In [39]:
#문자열 포매팅
num = 3
str = "apples"
print("I ate %d %s" % (num,str))
"%-10sjane" % "hi" #10개의 문자열중 왼쪽정렬 후 공백

I ate 3 apples

'hi        jane'

# 문자열 포맷 코드
-%s: 문자열  
-%c: 문자열1개  
-%d: 정수  
-%f: 부동 소수  
-%d%%: 숫자%

In [23]:
#정렬
b = [2,4,3,1]
b.sort()
print(b)
b_b = sorted(b, reverse=True)
print(b_b)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [34]:
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)

[1, 2, 30, 80, 62, 43, 83, 37, 1, 99, 83, 34, 98, 97, 8, 47, 84, 92, 99, 3, 5, 19, 86, 87, 16, 27, 40, 27, 3, 82, 64, 62, 94, 6, 0, 70, 17, 83, 65, 29, 79, 66, 52, 52, 28, 87, 9, 37, 43, 3, 92, 2, 40, 58, 18, 5, 57, 27, 41, 59, 69, 18, 71, 71, 10, 69, 59, 80, 83, 94, 81, 14, 39, 29, 63, 40, 48, 93, 13, 7, 97, 30, 0, 99, 41, 99, 52, 69, 43, 71, 21, 5, 12, 44, 85, 94, 20, 86, 30, 42]

In [38]:
#리스트의 확장
h = [1,2,3]
h.extend([4,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(len(h),7)
print(h)
h.insert(-1,8) #안됨에 주의
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]
[5, 1, 2, 3, 4, 5, 6, 8, 7]

In [44]:
#자료형 - Tuple
#튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야 하는 경우 사용
#[]가 아닌 ()를 사용, ()는 생략가능

tuple1 = (1,2,3,4,5,6)
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [53]:
t1 = (1,) #1개의 요소만 가질 때는 요소 뒤에 콤마를 붙임
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
print(t1 + t2)
t3 = (1)
print(t3)
type(t3)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [59]:
#자료형 - 사전 (키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [58]:
d2 = {'name':'남현', '성별':'남자', '거주지':'마포구'}
print(d2['성별'])
print(d2.keys())
print(d2.values())
print(d2.items())

남자
dict_keys(['name', '성별', '거주지'])
dict_values(['남현', '남자', '마포구'])
dict_items([('name', '남현'), ('성별', '남자'), ('거주지', '마포구')])

In [67]:
#자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'l', 'e', 'o'}

In [69]:
#집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [72]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
l1 = list(s1)
l2 = list(s2)
print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [78]:
#들여쓰기
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [83]:
#문자열 포맷

name = '홍길동'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [91]:
d = {'name':'홍길동', 'age':20}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [94]:
y = 3.42134234
f'{y:10.3f}'

'     3.421'

In [97]:
#포맷함수
f1 = "{}선수가 {}등입니다.".format('홍길동',1)
print(f1)
f1 = "{1}선수가 {0}등입니다.".format('홍길동',1)
print(f1)

홍길동선수가 1등입니다.
1선수가 홍길동등입니다.

In [100]:
f2 = "{}은 {}보다 {}배 쉽습니다".format('파이썬','자바',2)
print(f2)
f2 = "%s은 %s보다 %d배 쉽습니다" %('파이썬','자바',2)
print(f2)

파이썬은 자바보다 2배 쉽습니다
파이썬은 자바보다 2배 쉽습니다

In [135]:
#과제
a = 12345
print(a)
b = '%10s' % a
print(b)
c = 12.345679
print(c)
d = '%16.3f' % c
print(d)

12345
     12345
12.345679
          12.346

In [138]:
a = '{0:=^50}'.format("hi")
print(a)

========================hi========================

In [156]:
a = 5
b = 2
c = '%d를 %d로 나눴을 때의 몫은 %d이고, 나머지는 %d입니다' % (a,b,a // b, a % b)
print(c)

5를 2로 나눴을 때의 몫은 2이고, 나머지는 1입니다

In [168]:
ft = 'Python'
bk = ' 3.8.3'
print(ft+bk)

Python 3.8.3

In [169]:
a = 5
a = '10'
a = 15
type(a)

int

In [177]:
a = 5**3
a %= 3
print(a)

2

In [ ]:
#숫자 3개를 입력해서 첫번째숫자를 두번째 숫자 승한뒤에 세번째숫자로 나누었을때
#몫을 구하세요
a = int(input("첫번째 숫자를 입력: "))
b = int(input("두번째 숫자를 입력: "))
c = int(input("세번째 숫자를 입력: "))
k = (a**b)//c
print(k)

In [ ]:
list = []

for i in range(0,3):
    temp = input("숫자를 입력하세요")
    list.append(temp)
list
int(list[0])*int(list[1])//int(list[2])

In [184]:
name = "조남현"
print('제 이름은 ' + name + '입니다.')
print('제 이름은 {name}입니다.'.format(name = name))

제 이름은 조남현입니다.
제 이름은 조남현입니다.

In [185]:
numbers = [5,15,6,20,7,25]
list = []
for i in numbers:
    if i == 15 or i == 20 or i == 25:
        list.append(i)
list

[15, 20, 25]